<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wozeze.pros.demo.dao.UserMapper">
  <select id="getUserByUserNameAndPassword" parameterType="string" resultType="user">
    SELECT USERNAME, PASSWORD          
    FROM TE_USER
    WHERE USERNAME = #{username}
  </select>
</mapper>