<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wozeze.pros.dao.target_catelog.TargetCatelogMapper">

	<insert id="insertTargetCatelog" parameterType="targetCatelog">
		<selectKey keyProperty="cateLogId" resultType="string" order="BEFORE">
			SELECT sys_guid() FROM dual 
    	</selectKey>
		INSERT INTO
		TE_TARGET_CATELOG (ID, CATELOG_NAME, DETAIL)
		VALUES
		(#{cateLogId}, #{catelogName}, #{catelogDetail})
	</insert>
	
	<select id="queryTargetCatelogs" parameterType="targetCatelog" resultType="targetCatelog">
		SELECT t.id AS cateLogId, 
			t.catelog_name AS catelogName, 
			t.detail AS catelogDetail FROM 
			TE_TARGET_CATELOG t
	</select>
</mapper>