<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wozeze.pros.dao.system.UserMapper">
  <select id="queryUserByUserNameAndPassword" parameterType="user" resultType="user">
    SELECT ID, USERNAME as name          
    FROM TE_USER
    WHERE USERNAME = #{name}
    AND PASSWORD = #{password}
  </select>

  <insert id="insertUser" parameterType="user">
  	<selectKey keyProperty="id" resultType="string" order="BEFORE">
         SELECT sys_guid() FROM dual 
    </selectKey>
  	INSERT INTO TE_USER (ID, USERNAME, PASSWORD, E_MAIL)
  	VALUES (#{id}, #{name}, #{password}, #{email})
  </insert>
</mapper>